text {
}

button {
  margin-top: 5px;
  background-color: darkslateblue;
  color: white;
  border: none;
  text-align: center;
  font-size: 12px;
}

.rounded {
  background-color: rgb(250, 250, 250);
  border: 1px lightgray solid;
  padding-top: 10px;
  padding-bottom: 5px;
}
